body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}
.one-span{
    color: red;
}
h1{
    font-size: 60px;
    font-weight: 700;
}

.good-food{
    display: flex;
    padding-left: 50px;
    padding-top: 60px;
}   
.go-to-link{
    background-image: linear-gradient(to left, blue, violet);
    text-decoration: none;
    display: inline-block;
    padding: 15px 40px;
    font-size: 30px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.food-blog img{
    width: 100%;
}
#woman{
    width: 60%;
    margin-top: 90px;
    padding-left: 30px;
}
.background{
    background-image:url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    width: 87%;
    margin-top: 30px;
    color: grey;
    padding-right: 150px;
    
}
.background p{
    font-size: 30px;
    text-align: justify;
}
.my-recipies{
    text-align: center;
    margin-top: 60px;
}
.my-recipies h2{
    font-size: 29px;
    font-weight: 700;
}
.food-picture{
    background-image: linear-gradient(white, white);
    width: 100%;   
    margin-right: 6%;
    margin-bottom: 20px;   
    box-shadow: 2px 5px 6px grey;
    border-radius: 25px;
    
}
.food-picture img{
   width: 100%; 
   padding: -10px;
    
}
.food-picture h2 {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
}
.food-picture p{
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
}
footer{
    background-color: black;
    margin-top: 90px;
    text-align: center;
    padding: 50px;
}
footer h2 {
    color: white;
}
